{% extends "base.html" %}
{% block content %}
    <div class="card">
        <div class="container">
            <h2><b>Profile Page Of {{ accounts_profile.account.username }}</b></h2>
            <p>Name: {{ accounts_profile.full_name }}</p>
            <p>Bio: {{ accounts_profile.small_bio }}</p>
        </div>
    </div>
    <div>
        <h3>Social Media Links</h3>
        {% for item in accounts_links.values_list %}
            <div class="container">
                <a target="_blank" href="{{ item.2 }}">{{ item.1 }}</a>
            </div>

        {% endfor %}
        <br>
    </div>
    <div>
    {% if user.username == accounts_profile.account.username %}
        <a class="btn btn-outline-info" href="edit/">Edit Profile</a>
        <a class="btn btn-outline-info" href="add-link/">Add link</a>
    {% endif %}
    </div>
{% endblock content %}
