{% extends "base.html" %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <div class="form-check">
            <label for="delete"></label>
            <input class="regular_button" type="submit" name="delete" id="delete" value="delete"/>
            <div class="form-check">
                <label for="no"></label>
                <input class="regular_button" type="submit" name="no" id="no" value="no"/>
            </div>
        </div>
    </form>
{% endblock content %}
